# dependencies
/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/

reports/

### CypressIO ###
# gitignore template for the CypressIO, browser test framework
# website: https://www.cypress.io/

cypress/results/*
cypress/reports/*
cypress/screenshots/*
cypress/videos/*

### Node ###
# Logs
yarn-debug.log*
yarn-error.log*